body{
    background-color: rgb(19, 19, 19);
}

ol {
    counter-reset: item;
    padding-left: 10px;
}
li {
    display: block
}
li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

.GameImage {  
    text-align: center;
}

.GameName{
	position: absolute;
	top: 6%;
	left: 45%;
}

.GameMenu{
    border:1px solid; padding:10px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

nav, section {
    float: right;
}

section {
    border: 1px solid;
    margin: 5px 5px;
    width: 100%;
    height: 100%;
}

article {
    width: 100%;
    height: 100%;
}
